
include LICENSE.txt
include README.md

# include setupbase.py
# include pytest.ini
# include .coverage.rc

# Documentation
graft docs
exclude docs/\#*
prune docs/build
prune docs/_build
prune docs/gh-pages
prune docs/dist
prune docs/docs

# Examples
graft examples

# Tests
graft tests
prune tests/build


# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints